<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.berfy.sdk.mvpsdk">

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.viewpager.view.ViewPagerDemoActivity"></activity>
        <activity android:name=".demo.viewpager.view.StatusBarDemoActivity"></activity>
        <activity android:name=".demo.notify.view.NotifyActivity"></activity>
        <activity android:name=".demo.fragment.view.DemoFragmentActivity"></activity>
    </application>

</manifest>