<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.berfy.sdk.mvpsdk">

    <!--存储设备-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--相机-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--手机设备信息-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.viewpager.view.ViewPagerDemoActivity"></activity>
        <activity android:name=".demo.viewpager.view.StatusBarDemoActivity"></activity>
        <activity android:name=".demo.notify.view.NotifyActivity"></activity>
        <activity android:name=".demo.fragment.view.DemoFragmentActivity"></activity>
        <activity android:name=".demo.permission.view.PermissionActivity"></activity>
    </application>

</manifest>